<article id="lead" class="inner zoomOutTrigger">
  <div class="lead-img fadeInTrigger"></div>
  <div class="lead-area fadeInTrigger">
    <h2>白金台にある<br />癒しの<br />プライベート空間</h2>
    <p>
      エステサロン<br />ビューティフルデイズは、<br />がんばるあなたが<br
      />ちょっと疲れた時に<br />立ち寄れる<br />ほっとする時間を<br
      />つくります。
    </p>
    <div class="lead-btn">
      <a href="#" class="btn04 bordertop"><span>お店のご紹介</span></a>
    </div>
  </div>
  <!--/lead-->
</article>
