<section id="contact" class="inner">
  <div class="contact-img fadeInTrigger"></div>
  <div class="contact-area fadeInTrigger">
    <h2>ご予約方法</h2>
    <dl>
      <dt><a href="tel:03-1234-5678">TEL 03-1234-5678</a></dt>
      <dd>（営業時間：10:00-20:00）</dd>
    </dl>
    <div class="contact-btn">
      <a href="#" class="btn04 bordertop"><span>お問い合わせ</span></a>
    </div>
  </div>
</section>
