<header>
  <div class="header-area">
    <p class="glowAnime">白金台にある<br />癒しのエステサロン</p>
    <h1 class="glowAnime">Beautiful Days</h1>
  </div>
  <div class="scrolldown2"><span>Scroll</span></div>
  <div id="header-img"></div>
</header>
