---
import ProductCard from "@/components/product-card.astro"
import _products from "@/data/products.yml"
import { Product } from "@/types/data"

const products: Product[] = _products
---

<section id="menu">
  <h2>
    <span class="slide-in leftAnime"
      ><span class="slide-in_inner leftAnimeInner">Menu</span>
    </span>
  </h2>
  <ul class="slider">
    {
      products.map(product => (
        <li>
          <ProductCard product={product} />
        </li>
      ))
    }
  </ul>
  <div class="menu-btn fadeInTrigger">
    <a href="#" class="btn04 bordertop"><span>メニュー一覧を見る</span></a>
  </div>
</section>
