<section id="menu">
  <h2>
    <span class="slide-in leftAnime"
      ><span class="slide-in_inner leftAnimeInner">Menu</span>
    </span>
  </h2>
  <ul class="slider">
    <li>
      <section class="fadeInTrigger">
        <a href="#">
          <figure class="circle">
            <span class="mask"><img src="img/01.jpg" alt="" /></span>
          </figure>
          <div class="menu-area">
            <h3>ハンドケア / フットケア</h3>
            <p>3,000 yen～</p>
          </div>
        </a>
      </section>
    </li>
    <li>
      <section class="fadeInTrigger">
        <a href="#">
          <figure class="circle">
            <span class="mask"><img src="img/02.jpg" alt="" /></span>
          </figure>
          <div class="menu-area">
            <h3>ウェディングメニュー</h3>
            <p>12,000 yen～</p>
          </div>
        </a>
      </section>
    </li>
    <li>
      <section class="fadeInTrigger">
        <a href="#">
          <figure class="circle">
            <span class="mask"><img src="img/03.jpg" alt="" /></span>
          </figure>
          <div class="menu-area">
            <h3>ボディトリートメント</h3>
            <p>8,000 yen～</p>
          </div>
        </a>
      </section>
    </li>
    <li>
      <section class="fadeInTrigger">
        <a href="#">
          <figure class="circle">
            <span class="mask"><img src="img/04.jpg" alt="" /></span>
          </figure>
          <div class="menu-area">
            <h3>フェイシャル</h3>
            <p>5,000 yen～</p>
          </div>
        </a>
      </section>
    </li>
    <li>
      <section class="fadeInTrigger">
        <a href="#">
          <figure class="circle">
            <span class="mask"><img src="img/05.jpg" alt="" /></span>
          </figure>
          <div class="menu-area">
            <h3>メイク / セット</h3>
            <p>3,000 yen～</p>
          </div>
        </a>
      </section>
    </li>
  </ul>
  <div class="menu-btn fadeInTrigger">
    <a href="#" class="btn04 bordertop"><span>メニュー一覧を見る</span></a>
  </div>
</section>
