<div class="openbtn"><span></span><span></span><span></span></div>
<nav id="g-nav">
  <div id="g-nav-list">
    <ul>
      <li>
        <a href="#"><span class="glowAnime">Beautiful Days</span></a>
      </li>
      <li class="blurTrigger"><a href="#">Top</a></li>
      <li class="blurTrigger"><a href="#">About</a></li>
      <li class="blurTrigger"><a href="#">Menu</a></li>
      <li class="blurTrigger"><a href="#">Contact</a></li>
      <li class="blurTrigger"><a href="#">Blog</a></li>
    </ul>
  </div>
</nav>
