<footer id="footer" class="inner">
  <dl>
    <dt>
      <span class="slide-in leftAnime"
        ><span class="slide-in_inner leftAnimeInner"
          >白金台の癒しのエステサロン</span
        >
      </span>
    </dt>
    <dd>
      <span class="slide-in leftAnime"
        ><span class="slide-in_inner leftAnimeInner">Beautiful Days</span>
      </span>
    </dd>
  </dl>
  <div class="footer-list">
    <div class="slide-in leftAnime">
      <div class="slide-in_inner leftAnimeInner">
        <ul>
          <li><a href="#">Top</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </div>
    <!--/footer-list-->
  </div>
  <p id="page-top" class="hide-btn">
    <a href="#"><span></span></a>
  </p>
  <small
    ><span class="slide-in leftAnime"
      ><span class="slide-in_inner leftAnimeInner">&copy; Beautiful days</span>
    </span>
  </small>
</footer>
