<head>
  <meta charset="utf-8" />
  <title>Beautiful Days</title>
  <meta
    name="description"
    content="書籍「動くWebデザインアイディア帳」のサンプルサイトAstro移植版"
  />
  <meta name="robots" content="noindex,nofollow" />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <!--=============Google Font ===============-->
  <link
    href="https://fonts.googleapis.com/css?family=Noto+Serif+JP%7CParisienne&display=swap"
    rel="stylesheet"
  />
</head>
