<div id="splash">
  <div id="splash-logo">
    <p>
      <span class="slide-in slideAnimeLeftRight"
        ><span class="slide-in_inner slideAnimeRightLeft">Beautiful Days</span>
      </span>
    </p>
  </div>
</div>
<div class="splashbg1"></div>
<div class="splashbg2"></div>
