---
import PageTemplate from "@/components/page-template.astro"
import HeroHeader from "@/components/templates/top/hero-header.astro"
import About from "@/components/templates/top/about.astro"
import Menu from "@/components/templates/top/menu.astro"
import Contact from "@/components/templates/top/contact.astro"
import Blog from "@/components/templates/top/blog.astro"
---

<PageTemplate>
  <HeroHeader />
  <main>
    <About />
    <Menu />
    <Contact />
    <Blog />
  </main>
</PageTemplate>
